// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootstrap
@import url('/css/fonts-inoloop.css');

$primary-color: #5ec5dd;
$secondary-color: #11c471;
$third-color: #3ab4de;
$orange: #7b68ee;
$white: #fff;
$black: #4a4a4a;
$yellow: #ffcc16;
$lime-green: #7aca04;
$secondary-alternate :#10d895;
$blackest: #3c3c3b;

/*
//UNHEVAL
$primary-color: #97bdc4;
$secondary-color: #3d804d;
$third-color: #9aa792;
$orange: #dfac6a;
$white: #fff;
$black: #4a4a4a;
$yellow: #ffcc16;
$lime-green: #7aca04;
$secondary-alternate :#10d895;
$blackest: #3c3c3b;
*/

//GENERALES
@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}
.form-search{
    .input-group-search{
        margin: 0 auto;
        width: 25vw;
        max-width: 465px;
        min-width: 267px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
/*NUEVO LAYOUT*/
body, html{
    height: 100%;
    background-color: #fafbfc;
    font-family: 'Montserrat', sans-serif;
    color: $black;
}
h1, h2, h3, h4, h5, h6, th{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
a{
    color: $orange;
}
a:hover{
    color: $primary-color;
}
#modern{
    width: 100%;

    .main-content{
        padding: 25px;

        &.page-admin{

            th:first-child{
                color: $third-color;
            }
        }

        &>.container{

            &>.row.justify-content-center{
                padding: 15px 25px;
                background-color: #fff;

                table, thead th{
                    color: #606060;
                }

                .company-logo{
                    max-width: 200px;
                }
            }
            &>.row.justify-content-center:last-child{
                background-color: #fff;
            }
        }
        &>.container-form{
            background-color: #fff;
            padding: 15px 25px;
            margin-top: 20px;
            min-height: inherit;

            label{
                color: $black;
                font-weight: 600;
            }
        }
    }

    .btn-outline-info {
        color: $orange;
        border-color: $orange;
    }
    .btn-outline-info:hover {
         background-color: $orange;
        color: $white;
        border-color: transparent;
     }
    .btn-outline-yellow {
        color: $yellow;
        border-color: $yellow;
    }
    .btn-outline-yellow:hover {
         background-color: $yellow;
        color: $white;
        border-color: transparent;
     }
    .btn-outline-limegreen {
        color: $lime-green;
        border-color: $lime-green;
    }
    .btn-outline-lemongreen:hover {
         background-color: $lime-green;
        color: $white;
        border-color: transparent;
     }

    .btn-yellow {
        background-color: $yellow;
        color: $white;
        border-color: transparent;
        width: 28px;
        height: 28px;
        text-align: center;
        padding: 3px;
    }
    .btn-yellow:hover {
        color: $yellow;
        background-color: $white;
        border-color: $yellow;
     }
    .btn-limegreen {
        background-color: $lime-green;
        color: $white;
        border-color: transparent;
        width: 28px;
        height: 28px;
        text-align: center;
        padding: 3px;
    }
    .btn-limegreen:hover {
        color: $lime-green;
        background-color: $white;
        border-color: $lime-green;
     }

    .page-link{
        color: $primary-color;
    }
}
body.page-login #modern main.main-content{
    padding: 0;
}
.color-primary{
    color: $primary-color !important;
}
.color-secondary{
    color: $secondary-color !important;
}
.color-third{
    color: $third-color !important;
}
#modern .container,#modern .container-fluid{
    min-height: 100vh;
    max-height: 100%;
}

.col-welcome-brand{

}

.col-welcome-login{
    background-color: $blackest;
    box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 21%);
}

.flex-fill {
    flex:1;
}



/*SIDEBAR*/
#sidebar {

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    min-width: 250px;
    max-width: 250px;
    background: $blackest;
    color: $white;
    transition: all 0.3s;
    box-shadow: 0 0 4px 0rem rgba(0, 0, 0, 0.25);
    z-index: 8;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

    ul li a {
        text-align: left;
    }

    &.active{
        min-width: 80px;
        max-width: 80px;
        text-align: center;

        .sidebar-header h3,
        .CTAs,
        .logo-complete{
            display: none;
        }
        .sidebar-header strong,
        .sidebar-header .logo-partial {
            display: inherit;
            margin: 0 auto;
        }
        ul li a {
            padding: 20px 5px;
            text-align: center;
            font-size: 0.8em;
        }
        ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }
        ul ul a {
            padding: 10px !important;
        }
        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
        .icon-navbar{

            display: none;
        }

    }

    .sidebar-header {
        padding: 30px 5px;
        background: $secondary-color;
        background: #fff;
        text-align: center;
        display: block;

        .logo-thales{
            width: 100%;
            max-width: 66px;
        }
    }
    .sidebar-header strong, .sidebar-header .logo-partial {
        display: none;
        font-size: 1.8em;
    }
    ul.components {
        padding: 20px 0;
        margin-bottom: 0;
        font-weight: 600;
    }
    ul li a {
        padding: 10px;
        font-size: 16px;
        display: block;
    }
    ul li a:hover {
        color: $blackest;
        background: $white;
    }
    ul li a i {
        margin-right: 10px;
    }
    ul li.active>a,
    a[aria-expanded="true"] {

    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 15px !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: $primary-color;
    }

    a.article,
    a.article:hover {
        background: $third-color !important;
        color: #fff !important;
    }

    /*---*/
    ul li.active>a,
    a[aria-expanded="true"] {

    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em;
        padding-left: 30px !important;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: $primary-color;
    }

    a.article,
    a.article:hover {
        background: $third-color !important;
        color: #fff !important;
    }
    /*---*/
    .large-word-dropdown{
        display: inline-block;
        white-space: normal;
    }

}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs ,
    #sidebar .logo-complete {
        display: none;
    }
    #sidebar .sidebar-header strong,
    #sidebar .sidebar-header .logo-partial {
        display: inherit;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*SIDEBAR*/
#sidebarCollapse{
    border-radius: 0;
    position: absolute;
    top:0;
}

.logo-sistema{
    max-width: 150px;
}
.welcome-msg-inn{
    padding: 20vh 15vw;
    background-color: #fff;
}
.welcome-msg-txt{
    color: rgb(111,111,111);
    padding-top: 25px;
    font-size: calc(9px + 1.5vw);
}
.head-page{
    background-color: #fff;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;

    .title-row{

        h1{
            color: #212529;
            font-size: 19px;
            text-transform: uppercase;
        }
    }

    .form-search-villamares{


        label{
            font-weight: bold;
        }
    }
}
.fa-title{
    color: $secondary-color;
}
.page-item.active .page-link {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff !important;
}
/*NUEVO LAYOUT*/

.navbar-custom {
    background-color: #fff;
    box-shadow: -3px 1px 4px 2px rgba(0, 0, 0, 0.5);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand img{
    width: 100px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #555 !important;
}
/* change the color of active or hovered links */
.navbar-custom .nav-link.active ,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:hover {
    color: #ddd;
}

.navbar-custom .dropdown-menu {
    background-color: #fff;
}

.navbar-custom .dropdown-menu .dropdown-item{
    color: #555;
}

.navbar-custom .dropdown-item:hover,.navbar-custom  .dropdown-item:focus{
    background-color: #ddd;
}

.btn-visyttex{
    background-color: #1ab096;
    color: #fff;
}
.btn-thales-primary{
    background-color: $primary-color;
    color: $white;
}
.btn-thales-secondary{
    background-color: $secondary-color;
    color: $white;
}
.link-white{
    color: $white;
}
select.form-control:disabled, select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background-color: #fff;
    border: none;
    padding: 0;
}

.table-hover tr:hover select.form-control:disabled, .table-hover tr:hover select[disabled] {
    background-color: #eaeaeb;
}
table.table-votaciones{
    width: inherit;
    max-width: 600px;

    .col-order{
        width: 70px;
        text-align: center;
    }
    .col-candidates{

    }
    .col-votes{
        width: 70px;
        text-align: center;
    }
}
.first-letter-uppercase:first-letter{
    text-transform: uppercase !important;
}
.modal-header{
    background-color: #7b68ee;
    color: #fff;

    button.close{
        color: #fff;
        text-shadow: none;
        opacity: 1;
    }
}
.badge-info{
    background-color: #48d2c3;
}
.badge-success{
    background-color: #4897f5;
}
.badge-secondary{
    background-color: #9e9e9e;
}
.testing-button{
  //display: none !important;
}
//END GENERALES


//AGREGAR VOTACIONES
.question-name-wrap{
    font-weight: bold;
    font-size: 17px;

}
.candidates-inn{
    margin-left: 30px;
}
.candidate{
    font-size: 15px;
    padding: 5px 0;
}
.candidate-name{
    display: inline-block;
    max-width: 550px;
    width: calc(100% - 59px);
    min-width: 250px;
}
.question-name{
    display: inline-block;
    max-width: 550px;
    width: calc(100% - 59px);
    min-width: 250px;

}
.list-number-input{
    width: 90px;
}

.message-notification, .message-recordatory{
    display: none;
}

//AGREGAR VOTACIONES
//VOTO
.head-vote{
    text-align: center;
    padding-bottom: 10px;
}
.document-number-input-vote{
    max-width: 450px;
    margin: 0 auto;
    width: 180px;
    display: inline-block;
}
.verification-digit-input-vote{
    width: 152px;
    display: inline-block;
}
.logo-vote{
    margin: 0 auto;
    width: 70px;
    padding: 10px;
}
h1.votaciones-vote-title{
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}
.alert-vote-time{
    text-align: center;
    color: #dc9619;
    background-color: #faefdb;
    font-weight: bold;
    border: 1px solid #f9b741;
}
.vno-info{
    text-align: center;
    font-size: 19px;
    color: #bc3535;
}
.vno-schedule{
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
}
.title-poll-votes-wrapp{
    margin-bottom: 4px;
    padding-bottom: 1px;
    text-align: center;
    margin-top: 50px;
}
.title-poll-votes{
    color: #212529;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.title-election-votes{
    font-size: 18px;
    text-transform: uppercase;
    color: #10d895;
    margin-top: 30px;
}
label.label-vote{
    font-weight: normal !important;
    cursor: pointer;
}
//VOTO
.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}
//HEADER
.page-polls {
    .nav-polls{
        color: $blackest;

        a{
            background-color: #fff !important;
        }
    }
}
.page-users {
    .nav-users{
        background-color: #fff;
        font-weight: bold;
        color: $blackest;

        a{
            background-color: #fff !important;
        }
    }
}
.page-groups {
    .nav-groups{
        background-color: #fff;
        font-weight: bold;
        color: $blackest;

        a{
            background-color: #fff !important;
        }
    }
}
.page-groups-create {
    .nav-groups-create{
        background-color: #fff;
        font-weight: bold;
        color: $blackest;

        a{
            background-color: #fff !important;
        }
    }
}
.page-electors{
    .nav-electors{
        background-color: #fff;
        font-weight: bold;
        color: $blackest;

        a{
            background-color: #fff !important;
        }
    }
}
.breadcrumb-nav{
    width: 100%;

    .breadcrumb{
        background-color: #fff;
    }
}

.btn-agregar-sistema{
    float: left;
    width: auto;
    background-color: $orange;
    color: $white;
}
.btn-buscar{
    background-color: $secondary-color;
    color: $white;
    width: auto;
}

.btn-danger{
    background-color: $orange;
    border-color: $orange;
    color: $white;
    width: auto;

    &:hover{
        background-color: $orange;
        border-color: $orange;
        color: $white;
    }
}
.input-group-wrapp{
    .remove-btn-wrapp{
      //display: none;
    }
}
.input-group-wrapp-selected{

    input{
        visibility: hidden;
    }
    .custom-file-label{
        pointer-events: none;

        &::after{
            content: none;
        }
    }
    .remove-btn-wrapp{
      //display: inherit;
    }
}
/*RESULTS*/
.title-poll{
    text-align: center;
    margin-bottom: 15px;

    h1{
        font-weight: bold;
        color: #212529;
        font-size: 19px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}
.title-poll-results{
    font-size: 18px;
    text-transform: uppercase;
    color: $secondary-alternate;
}
.title-election-results{
    font-size: 18px;
}
.table-results{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;

    thead{
        background-color: $blackest;
        color: $white;
    }
    .table th, .table td{

    }
}
table.table-results-elections{

    thead{
        background-color: $blackest;
        color: $white;
    }

    .col-order{
        width: 80px;
    }

}

/*RESULTS*/
/*GROUPS*/
.modal-group-count-tit, .modal-group-count-dscr,
.modal-group-state-tit, .modal-group-state-dscr{
    display: inline-block;
}
/*GROUPS*/


/*RESULTS*/
.container-results{
    .results-title-row{
        text-align: center;
        justify-content: center;
        margin-bottom: 50px;

        h1{
            width: 100%;
            color: $blackest;
            font-size: 24px;
            text-transform: uppercase;
        }
        .badge-poll-status{

        }
        .results-description{
            margin-top: 15px;
            width: 100%;
        }
    }
    .electors-info-row{
        text-align: center;
        justify-content: center;

        h2{
            width: 100%;
            text-align: center;
            color: $orange;
            font-size: 21px;
            margin-bottom: 25px;

        }
        .electors-info-canvas-wrapp{
            margin-bottom: 30px;
        }

        .electors-info-description-wrapp{
            width: 100%;

            .electors-info-description{
                background-color: rgb(244,244,244);
                display: flex;
                align-content: stretch;
                justify-content: space-evenly;
                max-width: 800px;
                margin: 0 auto;
                border-radius: 17px;
                padding: 15px 0;

                .eid-section{
                    display: inline-block;

                    .eid-section-title{
                        .color-legend{
                            display: inline-block;
                            width: 20px;
                            height: 10px;
                            border-radius: 4px;

                            &.color-legend-voted{
                                background-color: $orange;
                            }
                            &.color-legend-not-voted{
                                background-color: $third-color;
                            }
                        }
                    }

                    .eid-section-value{
                        color: $orange;
                    }
                }
            }
        }
    }
    .elections-info-wrapp{
        padding-top: 50px;

        .results-elections-title{
            width: 100%;
            text-align: center;
            color: $blackest;
            font-size: 24px;
        }

        .elections-info-row{

            .results-subtitle, .results-subtitle-question{
                width: 100%;
                text-align: center;
            }
            .results-subtitle{
                padding-top: 50px;
                color: $orange;
                font-size: 21px;
            }
            .results-subtitle-question{
                padding-top: 25px;
                font-size: 19px;
            }

            .electors-info-canvas-wrapp{
                margin: 0 auto;
            }

        }
    }





}
/*RESULTS*/
